@{
    ViewData["Title"] = "Créditos";
}

<div class="creditos-container">
    <div class="creditos-card">
        <h2>Sistema de Gerenciamento de Produtos</h2>
        <p class="lead">Desenvolvido por:</p>
        <ul>
            <li><strong>Laysa Bernardes</strong></li>
            <li><strong>Lucas Lopes</strong></li>
        </ul>
    </div>
</div>
